@import "_vars";

// Google Fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,300italic,400,400italic,500,500italic,700,700italic");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,300,500,700");

// bower:scss
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "../bower_components/font-awesome/scss/font-awesome.scss";
// endbower


// Variables, Mixins
@import "inspinia/variables";

// INSPINIA Theme Elements
@import "inspinia/typography";
@import "inspinia/navigation";
@import "inspinia/top_navigation";
@import "inspinia/buttons";
@import "inspinia/badgets_labels";
@import "inspinia/elements";
@import "inspinia/sidebar";
@import "inspinia/base";
@import "inspinia/pages";
@import "inspinia/chat";
@import "inspinia/metismenu";
@import "inspinia/spinners";
@import "inspinia/social_buttons";

// Landing page styles
@import "inspinia/landing";

// INSPINIA Skins
@import "inspinia/skins";
@import "inspinia/md-skin";

// Media query style
@import "inspinia/media";

// Custom style
// Your custom style to override base style
@import "inspinia/custom";

// Clear layout on print mode
@media print {
    nav.navbar-static-side {
        display: none;
    }

    body {
      overflow: visible !important;
    }

    #page-wrapper {
        margin: 0;
    }
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix {
    display: inline-block;
}

/* start commented backslash hack \*/
* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}

/* helper */
.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}